{% include "header.html" %}

<!--page header-->
<header>
  <div class="header-container">
    <h1>Welcome to Chessbot!</h1>
    <p>This is an AI bot designed to analyze any of your completed games. Simply paste in a PGN into the textbox below, click analyze, and we will exactly why a move is or isn't good. We will even evaluate moves you were considering! Simply ask us "Why isn't this move good" or "How did this move work", or even "How can I prevent checkmate"! All that and more.</p>
  </div>
</header>
<!-- main content-->
 <div class="main-content">
    <h1>Paste in your PGN</h1>
    <form action="{{ url_for('analysis')}}" method="post">
      <textarea name="pgn" rows="10" cols="50" placeholder="Paste your PGN here"></textarea>
      <br>
      <button type="submit" class="analyze">Analyze</button>
    </form>
 </div>

<div class="container">

</div>

{% include "footer.html" %}